In [2]:
#import the library Pandas
import pandas as pd

In [4]:
#Put the churn.csv dataset on Root Directory
#Read the dataset 
churn = pd.read_csv('churn.csv')

In [5]:
#Showing the 5 Data of given dataset
churn.head()

,Unnamed: 0,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,gender,SeniorCitizen,...,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Churn
0,1,8260-NGFNY,One,Month-to-month,No,Mailed check,25.2,25.20,Female,0.0,...,No,No phone service,DSL,No,No,No,No,No,No,Yes
1,2,2359-QWQUL,39,One year,Yes,Credit card (automatic),104.7,4134.85,Female,0.0,...,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Yes
2,3,6598/RFFVI,2,One year,No,Credit card (automatic),19.3,28.30,Male,0.0,...,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Yes
3,4,IXSTS-8780,6,Month-to-month,Yes,Electronic check,90.1,521.30,Female,0.0,...,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Yes
4,5,2674/MIAHT,Four,Month-to-month,Yes,Mailed check,80.3,324.20,Female,0.0,...,Yes,Yes,Fiber optic,No,Yes,No,No,No,No,No

In [7]:
#Find the no. of duplicate records in the churn dataframe based on the cutomerID column.
duplicate = churn[churn.duplicated(['customerID'],keep='first')]
duplicate.shape[0]

7

In [5]:
#In the churn dataframe, what are the total no. of missing values for the variable TotalCharges?
churn.TotalCharges.isnull().sum()

15

In [9]:
#From the churn dataframe, what is the average monthly charge paid by a customer for the services he/she has signed up for?
churn.MonthlyCharges.mean()

62.473481781376535

In [12]:
#In the churn dataframe, under the variable Dependents how many records have “1@#" ?
pd.crosstab(index=churn.Dependents, columns="count")

col_0       count
Dependents
1@#             6
No            171
Yes            80

In [8]:
#Find the data type of the variable tenure from the churn dataframe.
churn['tenure'].ftypes

AttributeError: 'Series' object has no attribute 'ftypes'