In [1]:
#import the library Pandas
import pandas as pd

In [2]:
#Put the People Charm case.csv dataset on Root Directory
#Read the dataset 
data = pd.read_csv('People Charm case.csv')

In [3]:
#Showing the 5 Data of given dataset
data.head()

,satisfactoryLevel,lastEvaluation,numberOfProjects,avgMonthlyHours,timeSpent.company,workAccident,left,promotionInLast5years,dept,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.37,0.52,2,159,3,0,1,0,sales,low
4,0.41,0.50,2,153,3,0,1,0,sales,low

In [4]:
# To perform numerical operations
import numpy as np
# To Visualize data
import seaborn as sns

In [5]:
# To Partition the data
from sklearn.model_selection import train_test_split
# Importing the library of KNN
from sklearn.neighbors import KNeighborsClassifier

In [6]:
# Importing performance metrics - accuracy score & confusion matrix
from sklearn.metrics import accuracy_score,confusion_matrix

In [8]:
#=========================================
#         KNN Model
#=========================================
new_data = pd.get_dummies(data,drop_first = True)
columns_list = list(new_data.columns)
print(columns_list)

# Separating the input names from data
features=list(set(columns_list)-set(['left']))
print(features)

# Storing the output values in y
y=new_data['left'].values
print(y)

# Storing the values from input features
x = new_data[features].values
print(x)
# Spiliting the data into train and test
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.25,random_state=0)

# KNN Classification
# Stroing the K-nearest classifier
KNN_classifier = KNeighborsClassifier(n_neighbors = 2)

# Fitting the values for x and y
KNN_classifier.fit(train_x, train_y)

# Predicting the test values with Model
prediction = KNN_classifier.predict(test_x)

# Performance metric check
confusion_matrix = confusion_matrix(test_y,prediction)
print("\t","Predicted Values")
print("Original Values","\n",confusion_matrix)
accuracy_score = accuracy_score(test_y,prediction)
print(accuracy_score)

# Printing the misclassified values from Prediction
print('Misclassified samples: %d' % (test_y != prediction).sum())

['satisfactoryLevel', 'lastEvaluation', 'numberOfProjects', 'avgMonthlyHours', 'timeSpent.company', 'workAccident', 'left', 'promotionInLast5years', 'dept_RandD', 'dept_accounting', 'dept_hr', 'dept_management', 'dept_marketing', 'dept_product_mng', 'dept_sales', 'dept_support', 'dept_technical', 'salary_low', 'salary_medium']
['dept_hr', 'dept_management', 'salary_low', 'dept_technical', 'numberOfProjects', 'timeSpent.company', 'dept_product_mng', 'satisfactoryLevel', 'dept_RandD', 'promotionInLast5years', 'workAccident', 'dept_sales', 'salary_medium', 'dept_support', 'avgMonthlyHours', 'dept_accounting', 'lastEvaluation', 'dept_marketing']
[1 1 1 ... 0 0 0]
[[0.   0.   1.   ... 0.   0.53 0.  ]
 [0.   0.   0.   ... 0.   0.86 0.  ]
 [0.   0.   0.   ... 0.   0.88 0.  ]
 ...
 [0.   0.   1.   ... 0.   0.72 0.  ]
 [0.   0.   1.   ... 0.   0.91 0.  ]
 [0.   0.   1.   ... 0.   0.83 0.  ]]
	 Predicted Values
Original Values
 [[2754   83]
 [  92  821]]
0.9533333333333334
Misclassified samples: 175