In [1]:
#import the library Pandas
import pandas as pd

In [2]:
#Put the lendingdata.csv dataset on Root Directory
#Read the dataset 
data = pd.read_csv('lendingdata.csv')

In [4]:
#Showing the 5 Data of given dataset
data

,Unnamed: 0,activity,borrower_genders,country,country_code,currency_policy,distribution_model,lender_count,loan_amount,original_language,repayment_interval,sector,status,term_in_months,rMPI
0,0,Home Appliances,group,Cambodia,KH,shared,field_partner,5.0,125.0,English,monthly,Personal Use,funded,8,0.097
1,1,Cereals,female,Philippines,PH,shared,field_partner,5.0,125.0,English,irregular,Food,funded,14,0.055
2,2,Clothing Sales,female,Peru,PE,shared,field_partner,10.0,375.0,Spanish,monthly,Clothing,funded,8,0.000
3,3,Clothing Sales,female,Tajikistan,TJ,not shared,field_partner,27.0,850.0,English,monthly,Clothing,funded,14,0.021
4,4,Fish Selling,female,Uganda,UG,not shared,field_partner,17.0,550.0,English,irregular,Food,funded,9,0.417
5,5,Personal Products Sales,female,Jordan,JO,shared,field_partner,22.0,575.0,English,monthly,Retail,funded,15,0.005
6,6,Transportation,male,Tajikistan,TJ,not shared,field_partner,38.0,1125.0,English,irregular,Transportation,funded,6,0.033
7,7,Home Appliances,group,Cambodia,KH,shared,field_partner,4.0,100.0,English,monthly,Personal Use,funded,8,0.120
8,8,Bakery,male,Nicaragua,NI,shared,field_partner,17.0,1400.0,Spanish,monthly,Food,not_funded,20,0.161
9,9,Farming,male,Nigeria,NG,shared,field_partner,19.0,600.0,English,bullet,Agriculture,funded,19,0.311
10,10,Primary/secondary school costs,female,Colombia,CO,not shared,field_partner,12.0,325.0,Spanish,irregular,Education,funded,7,0.009
11,11,Construction Supplies,female,Nicaragua,NI,shared,field_partner,14.0,400.0,Spanish,monthly,Construction,funded,15,0.112
12,12,Retail,female,Colombia,CO,not shared,field_partner,40.0,1025.0,Spanish,monthly,Retail,funded,17,0.009
13,13,Personal Products Sales,female,Philippines,PH,not shared,field_partner,17.0,450.0,English,irregular,Retail,funded,8,0.422
14,14,Cosmetics Sales,female,Ecuador,EC,not shared,field_partner,26.0,1650.0,Spanish,irregular,Retail,funded,8,0.054
15,15,Higher education costs,female,Colombia,CO,shared,field_partner,9.0,225.0,Spanish,monthly,Education,funded,4,0.583
16,16,General Store,male,Honduras,HN,shared,field_partner,29.0,775.0,Spanish,monthly,Retail,funded,1 Year,0.112
17,17,Retail,female,Benin,BJ,shared,field_partner,13.0,1025.0,French,monthly,Retail,not_funded,14,0.083
18,18,Farming,group,Cambodia,KH,shared,field_partner,36.0,1000.0,English,monthly,Agriculture,funded,14,0.274
19,19,Used Clothing,female,Nicaragua,NI,not shared,field_partner,12.0,325.0,Spanish,monthly,Clothing,funded,13,0.161
20,20,Personal Housing Expenses,group,Uganda,UG,not shared,field_partner,89.0,2400.0,English,monthly,Housing,funded,14,0.013
21,21,Farming,group,Cambodia,KH,shared,field_partner,25.0,700.0,English,monthly,Agriculture,funded,14,0.274
22,22,Manufacturing,female,Philippines,PH,shared,field_partner,8.0,225.0,English,irregular,Manufacturing,funded,7,0.039
23,23,Farming,male,Ecuador,EC,not shared,field_partner,21.0,600.0,Spanish,bullet,Agriculture,funded,11,0.014
24,24,Cheese Making,female,Jordan,JO,shared,field_partner,44.0,1175.0,English,monthly,Food,funded,21,0.005
25,25,Cattle,NaN,Tajikistan,TJ,not shared,field_partner,53.0,1850.0,English,irregular,Agriculture,funded,14,0.021
26,26,Higher education costs,female,Cambodia,KH,shared,field_partner,52.0,1450.0,English,monthly,Education,funded,50,0.274
27,27,Personal Housing Expenses,female,Indonesia,ID,shared,field_partner,2.0,525.0,English,irregular,Housing,not_funded,59,0.029
28,28,Farming,female,Philippines,PH,shared,field_partner,8.0,200.0,English,irregular,Agriculture,funded,7,0.055
29,29,Food,female,Kenya,KE,shared,field_partner,1.0,100.0,English,monthly,Food,funded,8,0.075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27506,27506,NaN,female,Philippines,PH,shared,field_partner,12.0,450.0,English,irregular,Services,funded,5,0.422
27507,27507,Fruits & Vegetables,female,Philippines,PH,shared,field_partner,1.0,200.0,English,irregular,Food,funded,8,0.055
27508,27508,Retail,female,Liberia,LR,shared,field_partner,9.0,225.0,English,irregular,Retail,funded,1 Year,0.214
27509,27509,Grocery Store,male,Kenya,KE,shared,field_partner,13.0,375.0,English,irregular,Food,funded,14,0.075
27510,27510,Pigs,group,Cambodia,KH,shared,field_partner,20.0,750.0,English,NaN,Agriculture,funded,14,0.097
27511,27511,Grocery Store,female,Kenya,KE,shared,field_partner,16.0,400.0,English,irregular,Food,funded,13,0.075
27512,27512,Services,female,United States,US,not shared,field_partner,92.0,4775.0,English,monthly,Services,funded,26,0.382
27513,27513,Dairy,female,Kenya,KE,shared,field_partner,15.0,700.0,English,monthly,Agriculture,funded,21,0.509
27514,27514,Pigs,male,Nicaragua,NI,shared,field_partner,34.0,1100.0,Spanish,monthly,Agriculture,funded,15,0.077
27515,27515,Agriculture,female,El Salvador,SV,shared,field_partner,20.0,500.0,Spanish,bullet,Agriculture,funded,13,0.077
27516,27516,Retail,group,NaN,PE,shared,field_partner,2.0,3225.0,Spanish,irregular,Retail,funded,6,0.000
27517,27517,Electronics Sales,female,Philippines,PH,shared,field_partner,7.0,175.0,English,irregular,Retail,funded,8,0.039
27518,27518,Food,group,Peru,PE,shared,field_partner,123.0,3625.0,Spanish,irregular,Food,funded,6,0.062
27519,27519,Grocery Store,female,Indonesia,ID,not shared,field_partner,4.0,100.0,English,monthly,Food,funded,14,0.029
27520,27520,Retail,female,Benin,BJ,shared,field_partner,8.0,225.0,French,monthly,Retail,funded,1 Year,0.083
27521,27521,Motorcycle Transport,female,Philippines,PH,shared,field_partner,10.0,250.0,English,irregular,Transportation,funded,8,0.039
27522,27522,General Store,female,Philippines,PH,shared,field_partner,5.0,125.0,English,monthly,Retail,funded,8,0.497
27523,27523,Crafts,male,El Salvador,SV,shared,NaN,35.0,1500.0,Spanish,monthly,Arts,funded,26,0.077
27524,27524,Farming,group,Cambodia,KH,shared,field_partner,30.0,750.0,English,monthly,Agriculture,funded,14,0.274
27525,27525,Food Production/Sales,female,Cambodia,KH,not shared,field_partner,27.0,1000.0,English,monthly,Food,funded,15,0.160
27526,27526,Farm Supplies,male,El Salvador,SV,shared,field_partner,15.0,500.0,Spanish,bullet,Agriculture,funded,10,0.054
27527,27527,Food,group,Ghana,GH,shared,field_partner,111.0,3475.0,English,irregular,Food,funded,10,0.058
27528,27528,Beverages,female,Nicaragua,NI,not shared,field_partner,16.0,400.0,Spanish,monthly,Food,funded,1 Year,0.077
27529,27529,Grocery Store,female,Peru,PE,not shared,field_partner,27.0,725.0,Spanish,irregular,Food,funded,6,0.062
27530,27530,Transportation,male,Peru,PE,shared,field_partner,16.0,1025.0,Spanish,irregular,Transportation,funded,6,0.062
27531,27531,Services,female,Zambia,ZM,shared,field_partner,85.0,2300.0,English,bullet,Services,funded,9,0.158
27532,27532,Pigs,female,Philippines,PH,not shared,field_partner,17.0,475.0,English,irregular,Agriculture,funded,8,0.422
27533,27533,General Store,female,Philippines,PH,shared,field_partner,38.0,1075.0,English,irregular,Retail,funded,11,0.055
27534,27534,Food Market,female,Ghana,GH,shared,field_partner,35.0,1075.0,English,irregular,Food,funded,6,0.122
27535,27535,Farming,male,Tajikistan,TJ,not shared,field_partner,55.0,2000.0,English,monthly,Agriculture,funded,14,0.033

In [4]:
# How many columns are of â€˜objectâ€™ data type?
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27536 entries, 0 to 27535
Data columns (total 15 columns):
Unnamed: 0            27536 non-null int64
activity              27535 non-null object
borrower_genders      27532 non-null object
country               27534 non-null object
country_code          27534 non-null object
currency_policy       27535 non-null object
distribution_model    27535 non-null object
lender_count          27534 non-null float64
loan_amount           27535 non-null float64
original_language     27533 non-null object
repayment_interval    27535 non-null object
sector                27536 non-null object
status                27536 non-null object
term_in_months        27536 non-null object
rMPI                  27536 non-null float64
dtypes: float64(3), int64(1), object(11)
memory usage: 3.2+ MB

In [6]:
len(data.select_dtypes('object').columns)

11

In [6]:
data.get_dtype_counts()

float64     3
int64       1
object     11
dtype: int64

In [7]:
# Find the total number of missing values in the data set?
data.isna().sum().sum()

18

In [9]:
data.isnull().values.sum()

18

In [11]:
# Identify which of the columns contain redundant information 
# and can be dropped from the dataframe.
print(data.distribution_model.unique())

['field_partner' nan]

In [12]:
data.distribution_model.value_counts()

field_partner    27535
Name: distribution_model, dtype: int64

In [14]:
data.distribution_model.duplicated().value_counts()

True     27534
False        2
Name: distribution_model, dtype: int64

In [15]:
duplicate_percentage = (data.distribution_model.duplicated().sum()*100/data.shape[0])
print("Distribution_model duplicate rows in percentage:",duplicate_percentage)

Distribution_model duplicate rows in percentage: 99.99273678094131

In [16]:
dup = data.activity.duplicated().value_counts()
print(dup)

True     27385
False      151
Name: activity, dtype: int64

In [24]:
duplicate_percentage1 = (dup[True]*100/data.shape[0])
print("Activity duplicate rows in percentage:",duplicate_percentage1)

Activity duplicate rows in percentage: 99.45162696106915

In [19]:
data.activity.value_counts()

Farming                      2389
General Store                2353
Retail                       1506
Personal Housing Expenses    1262
Clothing Sales               1238
Food Production/Sales        1121
Agriculture                   907
Grocery Store                 815
Home Appliances               797
Pigs                          735
Fruits & Vegetables           687
Higher education costs        625
Food Market                   599
Food Stall                    446
Food                          437
Fish Selling                  424
Animal Sales                  372
Sewing                        347
Tailoring                     347
Fishing                       346
Services                      335
Personal Expenses             318
Beauty Salon                  312
Cattle                        308
Poultry                       300
Used Clothing                 299
Motorcycle Transport          294
Livestock                     292
Cosmetics Sales               289
Cereals                       251
                             ...
Blacksmith                     13
Cheese Making                  13
Electrician                    12
Hotel                          12
Movie Tapes & DVDs             12
Party Supplies                 11
Dental                         10
Bicycle Repair                 10
Call Center                     8
Religious Articles              7
Musical Performance             7
Child Care                      6
Music Discs & Tapes             6
Veterinary Sales                6
Musical Instruments             6
Waste Management                5
Phone Repair                    5
Machinery Rental                5
Well digging                    5
Upholstery                      5
Secretarial Services            4
Funerals                        3
Bicycle Sales                   3
Machine Shop                    3
Balut-Making                    3
Beekeeping                      2
Sporting Good Sales             2
Bookbinding                     2
Aquaculture                     1
Event Planning                  1
Name: activity, Length: 150, dtype: int64

In [20]:
print(data.country_code.unique())

['KH' 'PH' 'PE' 'TJ' 'UG' 'JO' 'NI' 'NG' 'CO' 'EC' 'HN' 'BJ' 'ID' 'KE'
 'GT' 'SL' 'SV' 'CD' 'BO' 'SS' nan 'PK' 'TL' 'MN' 'YE' 'CM' 'ML' 'GH' 'NP'
 'LR' 'LA' 'MZ' 'EG' 'VN' 'ZW' 'SN' 'AF' 'DO' 'BI' 'HT' 'LB' 'RW' 'MW'
 'US' 'TG' 'IN' 'MG' 'TZ' 'IQ' 'BR' 'CI' 'BF' 'BZ' 'SR' 'CG' 'MM' 'ZM'
 'GE' 'CR' 'LS' 'KG' 'WS']

In [22]:
dup1 = data.country_code.duplicated().value_counts()
print(dup1)

True     27474
False       62
Name: country_code, dtype: int64

In [25]:
duplicate_percentage2 = (dup1[True]*100/data.shape[0])
print("Country_code duplicate rows in percentage:",duplicate_percentage2)

Country_code duplicate rows in percentage: 99.77484020918071

In [26]:
# What is the third quartile value of the variable â€œloan_amountâ€?
data['loan_amount'].describe()

count    27535.000000
mean       792.030143
std        902.925607
min         25.000000
25%        300.000000
50%        550.000000
75%       1000.000000
max      35000.000000
Name: loan_amount, dtype: float64

In [31]:
# What is the percentage split of the different categories in the column â€œrepayment_intervalâ€ 
# after dropping the missing values?

data.repayment_interval.value_counts()

monthly      15789
irregular     9264
bullet        2482
Name: repayment_interval, dtype: int64

In [32]:
round(data.repayment_interval.value_counts()*100/data.shape[0])

monthly      57.0
irregular    34.0
bullet        9.0
Name: repayment_interval, dtype: float64

In [9]:
# What is the minimum loan amount disbursed in the Agriculture sector?
data.groupby('sector')['loan_amount'].max()['Agriculture']

11025.0